@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Define the light theme colors */
    --background: 210 40% 98%; /* Light blue background */
    --foreground: 222.2 84% 4.9%; /* Dark text color */

    --card: 210 40% 98%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 210 40% 98%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 210 40% 96%; /* Light primary color */
    --primary-foreground: 222.2 47.4% 11.2%; /* Dark primary text color */

    --secondary: 210 40% 90%; /* Light secondary color */
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* Define the dark theme colors */
    --background: 210 40% 17.5%; /* Dark blue background */
    --foreground: 210 40% 98%; /* Light text color */

    --card: 210 40% 17.5%;
    --card-foreground: 210 40% 98%;

    --popover: 210 40% 17.5%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 96%; /* Light primary color */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 210 40% 20%; /* Darker secondary color */
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 20%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 210 40% 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 40% 20%;
    --input: 210 40% 20%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-y-center {
    @apply flex flex-col items-center;
  }

  .bg-frosted-glass {
    @apply backdrop-blur-lg backdrop-filter;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.tr-rounded {
  clip-path: xywh(0 0 100% 100% round 4px);
}
